@media screen and (min-width: 340px) and (max-width: 800px) {
	.products--section {
		justify-items: center;
		grid-template-rows: repeat(auto-fit, 500px);
		row-gap: 20px;
	}
}
@media screen and (min-width: 700px) {
	.products--section {
		grid-template-columns: repeat(auto-fit, 300px);
		grid-template-rows: repeat(auto-fit, 500px);
		justify-content: center;
		column-gap: 50px;
		row-gap: 20px;
	}
}