.product-buttons-container {
	display: grid;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: .5rem;
}
.buttons {
	width: 200px;
	height: 100%;
	color: var(--primary-clr);
	font-size: 1.5rem;
	background: transparent;
	border: 3px solid var(--primary-clr);
	border-radius: 5px;
	box-shadow: 1px 1px 5px var(--transparent-clr);
	cursor: pointer;
}
.buttons:hover {
	color: var(--secondary-clr);
	border: 3px solid var(--secondary-clr);
	border-left: 3px solid var(--secondary-clr);
}
.buttons:active {
	transform: translateX(5px);
}